<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-progress-indicator-plugin"
        version="1.0.1">
    <name>Cordova Progress Indicator Plugin</name>
    <description>Cordova Plugin allowing to show native progress indicators of different types.</description>
    <license>MIT</license>
    <keywords>ios, android, cordova, plugin, indicator</keywords>
    <repo>https://github.com/radvansky-tomas/CordovaProgressIndicatorPlugin.git</repo>
    <issue>https://github.com/radvansky-tomas/CordovaProgressIndicatorPlugin/issues</issue>

    <dependency id="cordova-plugin-add-swift-support" version="1.6.1"/>
    <dependency id="cordova-plugin-cocoapod-support"/>

    <js-module name="CordovaProgressIndicatorPlugin" src="www/plugin.js">
        <clobbers target="CordovaProgressIndicatorPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaProgressIndicatorPlugin">
                <param name="android-package" value="com.cordova.plugins.CordovaProgressIndicatorPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <framework src="cc.cloudist.acplibrary:library:1.2.1" />
        <source-file src="src/android/com/cordova/plugins/CordovaProgressIndicatorPlugin.java"
                     target-dir="src/com/cordova/plugins/"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaProgressIndicatorPlugin">
                <param name="ios-package" value="CordovaProgressIndicatorPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/ios/CordovaProgressIndicatorPlugin.swift"/>
        <pods-config ios-min-version="9.0" use-frameworks="true">
        </pods-config>
        <pod id="SVProgressHUD"/>
    </platform>
</plugin>
