<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-progress-indicator-plugin"
    version="1.0.0">
    <name>Cordova Progress Indicator Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <dependency id="cordova-plugin-cocoapod-support"/>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="CordovaProgressIndicatorPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CordovaProgressIndicatorPlugin">
          <param name="android-package" value="com.cordova,plugins.CordovaProgressIndicatorPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/cordova/plugins/CordovaProgressIndicatorPlugin.java" target-dir="src/com/cordova/plugins/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="CordovaProgressIndicatorPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaProgressIndicatorPlugin">
                <param name="ios-package" value="CordovaProgressIndicatorPlugin" onload="true" />
            </feature>`
        </config-file>
        <source-file src="src/ios/CordovaProgressIndicatorPlugin.swift" />
        <pods-config ios-min-version="9.0" use-frameworks="true">
        </pods-config>
        <pod id="SVProgressHUD" />
    </platform>
</plugin>
